[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog"
==
<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="{{ 'home'|page }}">Homepage</a></li>
										<li><a href="{{ 'generic'|page }}">Generic</a></li>
										<li><a href="{{ 'elements'|page }}">Elements</a></li>
										<li>
											<span class="opener">Blog</span>
											<ul>
												<li><a href="{{ 'elements'|page }}">All Posts</a></li>
												{% if blogCategories.categories %}
                                                    {% partial blogCategories ~ "::items"
                                                    categories = blogCategories.categories
                                                    currentCategorySlug = blogCategories.currentCategorySlug
                                                    %}
                                                {% endif %}
											</ul>
										</li>
										<li><a href="#">Etiam Dolore</a></li>
										<li><a href="#">Adipiscing</a></li>
										<li>
											<span class="opener">Another Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Maximus Erat</a></li>
										<li><a href="#">Sapien Mauris</a></li>
										<li><a href="#">Amet Lacinia</a></li>
									</ul>
								</nav>